fastapi
uvicorn
gunicorn
OpenDartReader
beautifulsoup4
lxml
requests
yfinance
finance-datareader
pandas
pydantic
langchain
langchain-google-genai
langchain-chroma
langchain-community
google-generativeai
python-dotenv
rank_bm25
firebase-admin
holidays